.full-width {
	width: 100%;
}

.chip-item {
	background-color: lightblue;
	font-size: 11px;
    padding: 6px 12px;
	line-height: 1;
	margin-bottom: 3px;
	height: auto;
}

.truncate-description-category{
	width: 200px!important;
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-content-article{
	width: 300px!important;
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.color-preview {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	transition: border-radius 200ms ease-in-out;
	cursor: pointer;
}

.color-picker {
	position: absolute;
	top: 100%;
	z-index: 9;

	&-left {
		left: 0;
	}

	&-top {
		top: 0;
	}

	&-right {
		right: 0;
	}
}

.error-color-input {
	top: 0; margin-left: 10px; margin-top: 3.7em; font-size:11px; color: red;
}

#editor-container {
	height: 175px!important;
}

.input-phone{
	padding-top: 7px;
	padding-left: 35px;
}

.icon-green {
	color: green!important;
	padding-bottom: 13px;
	margin-left: 0.5em;
}
.icon-danger {
	color: red!important;
	padding-bottom: 13px;
	margin-left: 0.5em;
}

.country-selector__list {
	max-height: 162px!important; 
}

.error-phone .input-tel__input {
    border-color: red!important;
}

.input {
	border-bottom: 1px solid rgb(202, 202, 202);
}

.md-app-content {
	min-height: 86vh!important;
}
.half {
    height: 42.7vh;
}
.md-drawer {
	width: 250px!important;
}

.active-table {
	background-color: $color-primary;
	color: black;
}

.disabled-section {
	width: 50%; height:50%; background-color: white; position: absolute; z-index: 99; opacity: 0.5;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 30px;
}

.md-list-item:hover .md-list-item-content {
	background-color: $color-primary!important;
}

.active-md-list.md-list-item {
	background-color: $color-primary!important;
}

.gallery-grid {
	padding-right: 4px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	max-height: 80vh;
	overflow-y: auto;
}

.image-gallery {
	max-width: 300px;
	min-height: 190px;
	width: 300px;
	height: 190px!important;
	object-fit: cover!important;
	border: 1px solid $color-primary;
}

.templates {
	padding: 3px;
	margin-top: 20px;

	.template {
		padding-bottom: 0.1em;
		max-width: 160px;
		margin-bottom: 0.1em;
		min-height: 122px;
	}
	.template-low {
		padding-bottom: 0.1em;
		max-width: 160px;
		margin-bottom: 0.1em;
		min-height: 122px;
	}
}

.template-editor-wrapper {
	min-height: 610px;
}

.md-field {
	margin: 0 0 0 0;
}

.title-score {
	font-size: 18px;
	font-weight: bold;
	color: rgb(39, 39, 39);
	.sub-title {
		font-size: 18px;
		font-weight: bold;
	}
}

.v-divider {
	width: 2px;
	background-color: grey;
	height: 20px;
	margin-top: 2px;
	margin-left: 3.85em;
	position: absolute;
}

.custom-control-input {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.custom-control-input:checked~.custom-control-label::before {
	color: $btn-primary-color;
	background-color: $color-primary;
	border: 0;
	outline: 0;
	box-shadow: none;
	border-radius: $border-radius;
}

.custom-checkbox {
	cursor: pointer;
}

.mt-half {
	margin-top: 18vh;
}