.lists {
	.list {
		margin-bottom: 3rem;
		min-width: 100%;
	}
}

.list {
	box-shadow: $box-shadow;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 4px #E5E9F2;
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	overflow: hidden;

	@media (hover) {
		&:hover {
			// box-shadow: $box-shadow-hover;
			// box-shadow: 0 0 12px 10px rgba(0,0,0,.08);
			// box-shadow: 0 1px 4px 3px #E5E9F2;
			// transform: translate(0, -5px);
			transition-delay: 0s !important;
		}
	}

	&--narrow {
		.list-body {
			padding: 1.5rem 1.625rem;
		}

		.list-actions {
			padding: 0 1.625rem;
		}
	}

	&--green {
		color: #fff;
		background-color: role-color('teacher', 'dark');
	}

	&--blue {
		color: #fff;
		background-color: #0082C5;
	}

	&--brown {
		color: #fff;
		background-color: #78664F;
	}

	&--red {
		color: #fff;
		background-color: #BB0B0B;
	}

	&--blue-light {
		color: #fff;
		background-color: #0AA9D4;
	}

	&--silver {
		color: rgb(39, 39, 39);
		background-color: #CDCDCD;
		border-radius: 10px;
		width: 100%;
		min-height: 60px;
		margin-bottom: 1em;
		padding: 10px;
	}

	&--large {
		min-height: 313px;
	}

	&.is-dimmed {
		border: 1px solid #CECECE;
		background-color: #E5E5E5;

		.list-footer {
			background-color: rgba(0, 0, 0, 0.03);
		}
	}

	&-menu {
		position: absolute;
		top: .75rem;
		right: .75rem;
	}

	&-overlay {
		position: absolute;
		bottom: 0;
		padding: .5rem 1rem;
		width: 100%;
		color: #fff;
		text-align: center;
		background-color: rgba(51, 51, 51, 0.5);
	}
}

.list-body {
	min-width: 343px;
	max-width: 343px;
	padding: 3px 3px 3px 3px;
	height: 176.5px;
}

.list-featured {
	margin-bottom: 1rem;
	font-size: 5rem;
	line-height: 1;
}

.list-info {
	font-size: 10px;
	color: $text-darker;
	// margin-bottom: .5rem;
	// min-height: 3em;
}

.list-title {
	font-size: 1.125rem;
}

.list-meta {
	color: #A5A5A5 !important;
	font-size: 12px;
	font-weight: bold;
}

.list-date {
	font-size: .9em;
	color: #A5A5A5;
}

.list-actions {
	padding: 0 1.375rem;
	height: 3.375rem;
	border-top: 1px solid #D8D8D8;

	.text {
		font-size: 0.75rem;
	}
}
